doctype html
html(ng-app='campeonatofutebol')
  head
    title campeonatofutebol
    base(href="/")

    include templates/metas
    include templates/favicons
    include templates/links

  body
    md-content.md-padding
      md-nav-bar(md-selected-nav-item='currentNavItem', nav-bar-aria-label='navigation links')
        md-nav-item(md-nav-click="goto('home')", name='Home') Home
        md-nav-item(md-nav-click="goto('about')", name='about') About
        md-nav-item(md-nav-click="goto('player')", name='player') Player    
    div(ui-view)

    include templates/scripts
