//- .login.row.error-page(layout='row', layout-align='center center')
  .detail.md-primary-background
  h2.show-after-enter
    | 404 Page not found
    span {{ 'pageNotFound.description' | translate }}
